In [2]:
f_name = input('First name: ')
last_name = input('Last name: ')
def format_name(f_name, last_name):
    full_name = (f_name + " " + last_name).title()
    return full_name
format_name(f_name,last_name)

'Aaditya Khanal'

In [4]:
def leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
      return False
def days_in_month(year,month):
    month_days = [31,28,31,30,31,30,31,31,30,31,30,31]
    if month == 2 and leap_year(year):
        return 29
    else:
        return month_days[month - 1]
    
year  = int(input("Enter year: "))
month = int(input("Enter a month: "))
days = days_in_month(year,month)

print(year)
print(days)

2029
30

In [8]:
#Basic Calculator
def add(n1,n2):
    return n1 + n2
def subtract(n1,n2):
    return n1 - n2
def multiply(n1,n2):
    return n1 * n2
def divide(n1,n2):
    return n1 / n2
calc_operations = {
    '+': add,
    '-': subtract,
    '*': multiply,
    '/': divide
}
num1 = int(input("Enter number: "))
num2 = int(input("Enter another number: "))

for symbol in calc_operations:
    print(symbol)
operation_query = input("Pick a symbol from above: ")
calculation_func = calc_operations[operation_query]
print(f'{num1} {operation_query} {num2} = {calculation_func(num1,num2)}')

+
-
*
/
12 * 35 = 420